
<header class="user-acq-header">
  <h1>Almost there!</h1>
  <h3>Your new best friend is only a few clicks away.</h3>
</header>

<form class="user-acq-form group" action="<%=users_url%>" method="post">
  <%= auth_token %>
  <label>Name</label>
    <input class="user-acq-input" type="text" name="user[name]" value="<%=@user.name%>">

  <label>Zip Code</label>
    <input class="user-acq-input" type="text" name="user[zipcode]" value="<%=@user.zipcode%>">

  <label>Email Address</label>
    <input class="user-acq-input" type="text" name="user[email]" value="<%=@user.email%>">

  <label>Password</label>
    <input class="user-acq-input" type="password" name="user[password]">

  <input class="user-acq-button" type="submit" value="Create account!">

</form>

<form class="toggle-existing-user-button"
      action="<%= new_session_url %>"
      method="get">
      <input type="submit" value="Existing user? Sign in!">

</form>
