<!DOCTYPE html>
<html>
<head>
  <title>Ok9cupidApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:messages] %>
  <% flash[:messages].each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<% if current_user %>
  <%= "Hello, #{current_user.name}!" %>
  <%= button_to "Sign out", session_url, method: "delete" %>
<% end %>

<%= yield %>

</body>
</html>
