<!DOCTYPE html>
<html>
<head>
  <title>Ok9cupidApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:messages] %>
  <% flash[:messages].each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<% if current_user %>
  <%= "Hello, #{current_user.name}!" %>
  <%= button_to "Sign out", session_url, method: "delete" %>
<% end %>

<link href='https://fonts.googleapis.com/css?family=Kalam:400,700' rel='stylesheet' type='text/css'>
<header class="logo-header group" >
  <img src="<%=asset_path("logo")%>" alt="logo" class="logo"/>
  <h1>o<em>k9</em>cupid</h1>
  <br>
</header>

<%= yield %>

</body>
</html>
